<div class="p-4 border-b border-gray-800">
    <a class="text-lg font-semibold tracking-wide" href="">PaymentsLedger</a>
    <p class="text-xs text-gray-400">Blazor Server</p>
    </div>

<nav class="p-3 space-y-1">
    <NavLink class="block px-3 py-2 rounded text-gray-200 hover:bg-gray-800" ActiveClass="bg-gray-800" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="block px-3 py-2 rounded text-gray-200 hover:bg-gray-800" ActiveClass="bg-gray-800" href="counter">
        Counter
    </NavLink>
    <NavLink class="block px-3 py-2 rounded text-gray-200 hover:bg-gray-800" ActiveClass="bg-gray-800" href="weather">
        Weather
    </NavLink>
    <NavLink class="block px-3 py-2 rounded text-gray-200 hover:bg-gray-800" ActiveClass="bg-gray-800" href="login">
        Login
    </NavLink>
</nav>
